{% with parkingarea.all|first as x %}
    <h1> This parking area is open from {{x.opening_time}} to {{x.closing_time}} </h1>

    {% for p in list %}
        {% if p %}  
            <h2> {{forloop.counter}}. The parking slot is vacant. </h2> 
        {% else %}
            <h2> {{forloop.counter}}. The parking slot is occupied. </h2>
        {% endif %}
    {% endfor %}
    

    <form method= "POST" action="{% url 'Admin:checkout' %}">
        {% csrf_token %}
        <label for="entry-time">Choose the entry time</label>
        <input type="datetime-local" id="entry-time" name="entry-time" min="2000-06-07T00:00" max="2050-06-14T00:00">

        <label for = "exit-time">Choose exit time</label>
        <input type="datetime-local" id="exit-time" name="exit-time" min="2000-06-07T00:00" max="2050-06-14T00:00">
        <input type="submit" value="Check">
    </form>

{% endwith %}