{% extends 'system/base.html' %}
{% block head %}
<style>
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: darkcyan !important;
        color: cornsilk;
    }
</style>
{% endblock %}
{% block content %}

<hr>
<h1 class="heading1">Admin Login</h1>
<hr>
<div class="row justify-content-md-center">
    <div class="col col-lg-6">
        <div class="form-group">
            <form action="{% url 'Admin:adminlogin' %}" method="POST">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input class="form-control" type="text" name="username" placeholder="enter username">

                <label for="password">Password:</label>
                <input class="form-control" type="password" name="password" placeholder="enter password">
                <p></p>
                <input type="submit" name="" value="login">
            </form>
        </div>
    </div>
</div>
{% endblock %}