<!DOCTYPE html>
<head>
<link rel="shortcut icon" href="/assets/images/logo/new_logo2.jpg">
	<link rel="apple-touch-icon" href="/assets/images/logo/apple-touch-icon.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

	<link rel="stylesheet" href="/assets/vendors/menu/src/main.menu.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/utilities.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/colors.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/colors-gh.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/colors-g.css">

	<!-- CAROUSEL -->
	<link rel="stylesheet" href="/assets/vendors/owl.carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/vendors/owl.carousel/owl.theme.default.min.css">

	<!-- ANIMATE -->
	<link rel="stylesheet" type="text/css" href="/assets/vendors/animate/animate.css">

	<!-- ANIMATED HEADLINES -->
	<link rel="stylesheet" type="text/css" href="/assets/vendors/animated-headline/css/style.css">

	<!-- FANCY BOX -->
	<link rel="stylesheet" type="text/css" href="/assets/vendors/fancybox/jquery.fancybox.min.css">
</head>

<body>
	<div class="main-header header-shadow cherry-header">
		<div class="container">
	
			<div class="main-header-container">
	
				<div class="logo" data-mobile-logo="/assets/images/logo/new_logo2.jpg"
					data-sticky-logo="/assets/images/logo/new_logo2.jpg">
					<a href="{% url 'Admin:home' %}"><img src="/assets/images/logo/new_logo2.jpg" alt="logo" /></a>
				</div> <!-- /LOGO -->
	
				<div class="burger-menu">
					<div class="line-menu line-half first-line"></div>
					<div class="line-menu"></div>
					<div class="line-menu line-half last-line"></div>
				</div> <!-- /BURGER MENU -->
	
				<nav class="main-menu menu-caret menu-hover-2 submenu-top-border submenu-scale">
					<ul>
						<li class="current-menu"><a href="{% url 'Admin:admindashboard' %}">Admin Dashboard</a></li>
	
						</li>
					</ul>
				</nav> <!-- NAVIGATION MENU -->
	
			</div> <!-- /HEADER CONTAINER -->
	
		</div> <!-- /CONTAINER -->
	</div> <!-- /HEADER -->
	
	<div class="container">
		{% with parkingarea.all|first as x %}
		<div class="card">
			<div class="card-body">
				<h3> This parking area is open from {{x.opening_time}} to {{x.closing_time}} </h3>
			</div>
		</div>
	
	
		{% for p in list %}
		{% if p %}
		<div class="card">
			<div class="card-body">
				<h5> {{forloop.counter}}. The parking slot is vacant. </h5>
			</div>
		</div>
		{% else %}
		<div class="card">
			<div class="card-body">
				<h5> {{forloop.counter}}. The parking slot is occupied. </h5>
			</div>
		</div>
	
		{% endif %}
		{% endfor %}
		<p><a href="{% url 'Admin:adminfreeslots' x.id %}"> Free slots </a></p>
	
		{% endwith %}
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="/assets/js/jquery-3.3.1.min.js"></script>
	<script src="/assets/vendors/appear/jquery.appear.min.js"></script>
	<script src="/assets/vendors/jquery.easing/jquery.easing.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/vendors/common/common.min.js"></script>
	
	<!-- FANCY-BOX -->
	<script src="/assets/vendors/fancybox/jquery.fancybox.min.js"></script>
	
	<!-- MENU -->
	<script src="/assets/vendors/menu/src/main.menu.js"></script>
	
	<!-- CAROUSEL -->
	<script src="/assets/vendors/owl.carousel/owl.carousel.min.js"></script>
	
	<!-- ANIMATED-HEADLINES -->
	<script src="/assets/vendors/animated-headline/js/animated-headline.js"></script>
	
	<!-- THEME-CUSTOM -->
	<script src="/assets/js/main.js"></script>
	
	<!-- THEME-INITIALIZATION-FILES -->
	<script src="/assets/js/theme.init.js"></script>
	<script src="/assets/js/custom.js"></script>
</body>
</html>